.table-center td, .table-center th {
    text-align: center;
    vertical-align: middle;
}

.float-container {
    padding: 3px;
}

.float-child {
    float: left;
}

.card {
    margin: 2px;
}

.float-clear {
    clear: both;
}

@media (min-width: 1400px) {
    .broad-container {
        max-width: 1350px;
    }
}

.income-info {
    width: 50%;
}

.card-action {
    padding-top: 0px;
}

.discounted {
    color: red;
}

.card-name {
    min-height: 40px;
}