{% extends "shared/layout.html"%}
{% from 'bootstrap5/form.html' import render_form %}
{%block title%}New game{%endblock%}

{%block body%}
    {% if session_id %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            New game created. Session id: <a href="/game/session/{{session_id}}">{{session_id}}</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {{render_form(form)}}
{% endblock %}